footer 
    section.left
        ul
            li
                a(href="#") Linkedin
            li
                a(href="#") Crunchbase
            li
                a(href="#") Hackernews
    section.right
        img(src="/assets/images/logoFooter.svg", alt="")