mixin product-cards(image, title, info)
    section.product-cards--container 
        article.product-detail--card 
            span.clock
            p.product--card-title #{title}
            p.product--card-body #{info}