header 
    img(src="/assets/images/logo.svg", alt="")
    div.header__title-container
        h1 La próxima revolución en el intercambio de criptomonedas.
        p Batatabit te ayuda a navegar entre los diferentes precios y tendencias.
        a(href="" class="header__button") Conoce nuestros planes #[span ] 