main
    section.main-exchange-container 
        div.backgroundImg 
        div.main-exchange-container--title 
            h2 Visibilizamos todas las tasas de cambio.
            p Traemos información en tiempo real de las casas de cambio y las monedas más importantes del mundo.
        section.main-currency-table
                p.currency-table--title Monedas 
                div.currency-table--container 
                    table 
                        tr 
                            td.table__top-left Bitcoin 
                            td.table__top-right.table__right $ 1.96 #[span.down]
                        tr 
                            td Ethereum
                            td.table__right $ 0.07 #[span.up]
                        tr 
                            td Ripple
                            td.table__right $ 2.15 #[span.down]
                        tr 
                            td.table__bottom-left Stellar
                            td.table__bottom-right.table__right $ 4.96 #[span.down]
                div.currency-table--date
                    p #[b Actualizado:] 19 Julio 23:45