doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;500&display=swap" rel="stylesheet")
        title Mobile First
    body
        header 
            .header 
                img(src="/assets/images/logo.svg", alt="")
                h1 La próxima revolución en el intercambio de criptomonedas.
                p.header__description Batatabit te ayuda a navegar entre los diferentes precios y tendencias.
                button 
                    p Conoce Nuestros Planes 
                    img(src="/assets/icons/vectorHaciaAbajoNegro.svg", alt="")
        
        main
            section 
            section 
            section 
            section 

        footer 

