include componentes/globales

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;500&display=swap" rel="stylesheet")
        title Mobile First
    body
        include componentes/header
   
        include componentes/main

        section.main-product-detail   
            span.product-detail--batata-logo 
            div.product-detail--title 
                h2 Creamos un producto sin comparación.
                p Confiable y diseñado para su uso diario.
            +product-cards("/assets/icons/clock.svg","Tiempo real","Nuestro API toma información minuto a minuto sobre las tasas que más determinan el comportamiento.")
            +product-cards("/assets/icons/eye.svg","No hay tasas escondidas","Ni en la compra o al momento de exit, Batabit siempre te muestra el costo real de lo que estás adquiriendo.")
            +product-cards("/assets/icons/dollar-sign.svg","Compara monedas","No más rumores, con Babtabit sabrás el valor real de cada moneda en el mercado actual.")
            +product-cards("/assets/icons/check-circle.svg","Información confiable","Nuestras fuentes están 100% verificadas y continuamos auditando su contenido mientras se actualizan.")

        section 
        section 

        footer 

