/* Orden de los estilos
1. Posicionamiento: static, absolute, relative,fixed
2. Modelo caja(Box model): margin, border, padding, content
3. Tipografia: tipos, tamaño de fuente, etc
4. Visuales: box-shadow, border-radius, gradient, etc
5. Otros (herramientas de Sass: mixin, funciones, extends)
*/

/* Variables */
$linear-bg: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
$bitcoin-orange: #F7931A;
$soft-orange: #FFE9D5;
$secondary-blue: #1A9AF7;
$soft-blue: #E7F5FF;
$warm-black: #201E1C;
$black: #282623;
$grey: #BABABA;
$off-white: #FAF8F7;
$just-white: #FFFFFF;
$fuente-DM: 'DM Sans', sans-serif;
$fuente-inter: 'Inter', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: $fuente-DM;
}

